certifi
chardet
click
dataclasses
dnspython
Flask
Flask-Cors
Flask-SQLAlchemy
gunicorn
idna
itsdangerous
Jinja2
joblib
MarkupSafe
mysql-connector
mysql-connector-python
nltk
numpy
oauthlib
pandas
protobuf
PyMySQL
PySocks
python-dateutil
python-dotenv
pytz
regex
requests
requests-oauthlib
scikit-learn
scipy
six
sklearn
SQLAlchemy
tqdm
tweepy
urllib3
Werkzeug